.show {
	background-color: lightgreen;
	border: 2px solid black; 

}

@media (max-width: 767px) {
  .color-change{
  		background-color: red;
  }
  
}

@media (min-width: 768px) and (max-width: 991px) {
  .color-change{
  		background-color: blue;
  }
  
}

@media (min-width: 992px) and (max-width: 1199px) {
  .color-change{
  		background-color: black;
  }
  
}

@media (min-width: 1200px) {
  .color-change{
  		background-color: green;
  }
  
}